<div class="container ">
  <h1 class="display-4 mb-5">Who would you like to be inspired by today...?</h1>
  <div class="card-deck row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-center mb-4" [routerLink]="['albert']" role="button">
        <span class="app-bio-pic rounded-circle mx-auto d-block mt-4"><img src="./assets/_images/albert_einstein.jpg" alt="Responsive image"></span>
        <div class="card-block">
          <h4 class="card-title">Albert Einstein</h4>
          <p class="card-text">Albert Einstein was a German-born theoretical physicist. He developed the theory of relativity, one of the two
            pillars of modern physics.</p>
          <span class="btn btn-success">Chat with Albert</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center mb-4">
        <span class="app-bio-pic rounded-circle mx-auto d-block mt-4"><img src="./assets/_images/sigmund_freud.jpg" alt="Responsive image"></span>
        <div class="card-block">
          <h4 class="card-title">Sigmund Freud</h4>
          <p class="card-text">Sigmund Freud was an Austrian neurologist and the founder of psychoanalysis. a clinical method for treating psychopathology</p>
          <a href="#" class="btn btn-warning">Coming Soon</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center mb-4">
        <span class="app-bio-pic rounded-circle mx-auto d-block mt-4"><img src="./assets/_images/ernest_hemingway.jpg" alt="Responsive image"></span>
        <div class="card-block">
          <h4 class="card-title">Ernest Hemingway</h4>
          <p class="card-text">Ernest Miller Hemingway (July 21, 1899 – July 2, 1961) was an American novelist, short story writer, and journalist.</p>
          <a href="#" class="btn btn-warning ">Coming Soon</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-center mb-4">
        <span class="app-bio-pic rounded-circle mx-auto d-block mt-4"><img src="./assets/_images/confucius.jpg" alt="Responsive image"></span>
        <div class="card-block">
          <h4 class="card-title">Confucius</h4>
          <p class="card-text">Confucius was a Chinese teacher, editor, politician, and philosopher of the Spring and Autumn period of Chinese
            history.</p>
          <a href="#" class="btn btn-warning">Coming Soon</a>
        </div>
      </div>
    </div>
  </div>
</div>