.card {
background-color: white;
}
.card:hover {
background-color: #F4F4F4;
}
img {
    margin: 0 auto;
    width: 155px;
}

.app-bio-pic {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}