iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.chat-interface {
    border: 1px solid black;
}
.app-left-panel {
    height: 500px;
}

.app-bio-pic {
    display: block;
    height: 100px;
}

.app-bio {
background-color: #E6E6E6;
height: 350px;
}

