<div class="chat-interface">
    <div class="row">
        <div class="col-md-8">
            <iframe src="https://console.api.ai/api-client/demo/embedded/af7c5168-d8d2-4148-8b79-a8ac441c9ae2"></iframe>
        </div>
        <div class="col-md-4 app-panel">
            <div class="app-bot-bio card pt-4 mb-2">
               <img class="app-bio-pic img-fluid rounded-circle mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Albert_Einstein_Head.jpg" alt="Responsive image">
                <div class="app-bio card-block mt-3">
                    <h4 class="card-title">Albert Einstein (1879 – 1955)</h4>
                    <p class="card-text lead">Albert Einstein was a German-born theoretical physicist. He developed the theory of relativity, one of the two pillars of modern physics. Einstein's work is also known for its influence on the philosophy of science.</p>
                <div><p class="card-text lead">Suggestions for subjects and viewpoints that mattered to Einstein: <span class="topics display-4">Relativity Theory, Quantum Mechanics, Spirialty, Life and Death</span></p></div>
                            </div>

            </div>

        </div>
    </div>
</div>